<div class="container">
    <div class="well">
        <form name="product-editForm" class="form-horizontal">
            <fieldset>
                <legend>Update product</legend>
                <div class="form-group">
                    <label for="product-name" class="col-md-2 control-label">Choose product:</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="selectedProduct" ng-change="change()">
                            <option ng-repeat="selectedProduct in products" value="{{selectedProduct.Id}}">{{ selectedProduct.Name }}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="product-name" class="col-md-2 control-label">Product name</label>
                    <div class="col-md-10">
                        <input value ="selectedProduct" id="product-name" type="text" placeholder="Product name" ng-model="product.Name" required="required" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="product-price" class="col-md-2 control-label">Price</label>
                    <div class="col-md-10">
                        <input id="product-price" type="text" placeholder="Price" ng-model="product.Price" required="required" class="form-control"/>
                    </div>
                </div>

                <div class="pull-right">
                    <button ng-click="editProduct()" ng-disabled="signUpForm.$invalid" class="btn btn-primary">
                        Update
                    </button>
                    <a href="#/" class="btn btn-primary">Delete</a>
                    <a href="#/" class="btn btn-primary">Cancel</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>